/* .place__paragraph_margin{
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph_margin:last-of-type{
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph_margin{
    margin-bottom: 25px;
  }
  .place__paragraph_margin:last-of-type {
    margin:0;
  }
}
 */
