.video__content-title{
  width: 800px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media screen and (max-width: 1279px){
  .video__content-title{
    width: calc(100% - 192px*2);
    font-size: 42px;
    line-height: 46px;
    margin-left: 16%;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 1023px){
  .video__content-title{
    width: 62%;
    font-size: 42px;
    line-height: 46px;
    margin-left: 16%;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 767px){
  .video__content-title{
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}