.photo-grid{
  display: -ms-grid;
  display: grid;
  gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1279px) {
  .photo-grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:14px;
    min-height: 942px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    min-height: 720px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: minmax(288px, 1fr);
    gap:12px;
  }
}