.places_section{
  margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .places_section {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .places_section {
    margin-bottom: 66px;
  }
}