.places_section{
  margin: 0 100px 92px;
}

@media screen and (max-width: 1279px) {
  .places_section {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 1023px) {
  .places_section {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .places_section {
    margin-bottom: 66px;
  }
}