.lead{
  max-width: calc(100% - 100px*2);
  /* min-width: 320px; */
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead{
    max-width: 100%;
    /* min-height: 962px; */
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    /* min-height: 862px; */
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 100%;
    /* min-height: 406px; */
  }
}