.comments__title{
  max-width: 800px;
  min-width: 288px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin:0;
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .comments__title{
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .comments__title{
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}