<<<<<<< HEAD:blocks/intro/__span-accent/intro__span-accent.css
.intro__span-accent {
=======
.intro__list_span-accent {
>>>>>>> 576c4426789d7b424601617492e49dbc8b2a3069:blocks/intro/__list/_span-accent/intro__list_span-accent.css
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}