.page__container_margins-bottom {
  margin: 0 auto 92px;
}

@media screen and (max-width: 1023px) {
  .cpage__container_margins-bottom {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .page__container_margins-bottom {
    margin-bottom: 64px;
  }
}

/* !! стандартный отступ для всех секций */