.intro{
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;

}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
   width: calc(100% - 16px*2);
  }
}