.intro{
  max-width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

@media screen and (max-width: 1023px) {
  .intro {
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro {
   min-width: 288px;
   max-height: 754px;
  }
}