.cover__image{
  background-image: url('./../../../images/__cover.png');
  width: 100%;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.cover__image:before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: opacity .3s ease .3s;
}

.cover__image:hover:before {
  opacity: 0.8;
  transform: scale(1.05);
}

@media screen and (max-width: 1279px) {
  .cover__image {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__image {
    min-height: 200px;
  }
}