.footer__link_margin{
  margin: 0;
  margin-right: 18px;
}

.footer__link_margin:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__link_margin {
    margin-bottom: 32px;
  }
}

