.place__url-heading{
<<<<<<< HEAD
=======
  font-family: 'Inter', Arial, Helvetica, sans-serif;
>>>>>>> gh-pages
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

/* !!потставил  line-height: 12px; в макете на 1280 и 1024 стоит 20px
!! но есил посчитать на ширину блока в 46px получается что ссылку выталкивает за пределы блока
!! и она уходин ниже!!*/